/*
 Liron Matarasso 209227263
 Valeria Zagorchik 323328872
 Tzach Fleischer 305152969
*/

.detailed-report-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row > * {
  margin-inline-end: 1vh !important;
}

.bold {
  font-weight: bold;
}
