/*
 Liron Matarasso 209227263
 Valeria Zagorchik 323328872
 Tzach Fleischer 305152969
*/

html,
body {
  height: 100%;
  margin: 0;
}

.host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tab-content {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}

nav.header {
  display: flex;
  flex-direction: row;
}
